<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" />
      <title>Ika's Codebase | {{ title|default('Contents of /') }}</title>
      {% block head %}
      <meta name="Content-Type" content="text/html; charset=UTF-8">
      <meta name="author" content="Ikaros Kappler">
      <meta name="description" content="{{ description }}">
      <meta name="keywords" content="{{ keywords }}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
      <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
      <link rel="icon" href="/favicon.png" type="image/png">
      <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">  
      <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">  
      <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
      <link rel="icon" type="image/png" href="/favicon-192x192.png" sizes="192x192">  
      <link rel="icon" type="image/png" href="/favicon-512x512.png" sizes="512x512">

      {% include 'structured-data.twig' with { 'type' : type, 'name' : title, 'image' : image, 'description' : description } %}

      {# Place the twitter card before the open graph tags #}
      
      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="@humanearthpig">
      <meta name="twitter:creator" content="@humanearthpig">
      {# Place the open graph tags after the twitter cards #}
      
      <meta property="og:url" content="https://{{ __domain }}">
      <meta property="og:type" content="website">
      <meta property="og:title" content="Ikaros Kappler's codebase">
      <meta property="og:description" content="Ikaros Kappler's codebase.">
      <meta property="og:image" content="{{ image|default('https://www.int2byte.de/img/preview-image.png') }}">

      
      {% if env('MODE') == 'DEVELOPMENT' %}
      <link rel="stylesheet" href="/css/base.css">
      <link rel="stylesheet" href="/css/pageheader.css">
      <link rel="stylesheet" href="/css/navigation-underlines.css">
      <script src="/js/pageheader.js"></script>
      <script src="/js/mediaquerydetection.js"></script>
      <script src="/js/canvasResize.js"></script>
      {% else %}
      <link rel="stylesheet" href="/css/styles.min.css">
      <script src="/js/core.min.js"></script>
      {% endif %}
      <link rel="manifest" href="/manifest.json">
      {% endblock %}
      <style>
	/* TODO: move to style.css */
	body main, #nav {
	   font-size : 10pt;
	}
	/* Extra small devices (phones, 600px and down) */
	@media only screen and (max-width: 600px) {
 	   header .avatar {
	      height: 64px !important;
              width: 64px !important;
	   }
	   body main, #nav {
	      font-size : 8pt;
	   }
	   body main {
	      padding-left : 18px;
	      padding-right : 18px;
	   }
	   #nav_ul {
	      margin-top: 0 !important;
	   }
	   .header-banner .logo {
	      transform-origin : 50% 50%;
	      transform : scale(0.6);
	      left : 0px;
	   }
	   .header-banner h1 {
	      left : 150px;
	      /* hyphenate */
	      word-wrap: break-word;
              overflow-wrap: break-word;

              -webkit-hyphens: auto;
                 -moz-hyphens: auto;
                      hyphens: auto;
	   }
	}
      </style>
    </head>
    <body>     
      <header id="pageheader">
	<div class="header-banner">
	  <a href="/" class="logo"></a>	  
	  <h1>{{ bannertext|default('Oooh, that thing has numbers on it.')|raw }}</h1>
	</div>
	<div class="clear"></div>
	<nav id="nav">
	  <ul id="nav_ul">
	    <li><a href="#"><div class="avatar" id="avatar"></div></a></li>
	    <li><a href="/public"><div class="nav-icon">▷</div><span>public</span></a></li>
	    <li><a href="https://www.github.com/ikaroskappler" target="_blank"><div class="nav-icon">▷</div><span>@github</span></a></li>
	    <li><a href="/contact"><div class="nav-icon">▷</div><span>contact</span></a></li>
	  </ul>
	</nav>
      </header>

      <div id="header">
        {% block header %}
        <h1>{{ headline }}</h1>
        {% endblock %}
      </div>

      <main class="{% block main_classes %}{% endblock %}">
	{% block content %}{% endblock %}
      </main>

      <footer>
        {% block footer %}
        <a href="https://www.int2byte.de/">int2byte.de</a> | <a href="https://www.int2byte.de/imprint/">Impressum und Datenschutz</a>
        {% endblock %}
      </footer>


      {% if env('MODE') != 'DEVELOPMENT' %}
      
      <!-- Matomo -->
      <script>
	var _paq = _paq || [];
	/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
	var u="https://stats.func.name/";
	_paq.push(['setTrackerUrl', u+'piwik.php']);
	_paq.push(['setSiteId', '1']);
	var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	})();
      </script>
      <!-- End Matomo Code -->
      
      {% endif %}
    </body>
</html>
